---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import { Icon } from 'astro-icon/components'


const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-16">
        <section>
          <article>
            <img src="/avatar.jpeg" class="float-right w-1/4 rounded-full ml-4" />
            <p>
              Hi, I'm Daniel Hunter! I'm a machine learning engineer with an emphasis on
              the intersection of research and product.
            </p>
            <p>
              I've spent time in both the Computer Vision and Natural Language Processing domains,
              most recently as the <a href="https://www.harvey.ai">Head of AI Engineering at Harvey AI</a>.
              You can see more of my work <a href="https://www.linkedin.com/in/thedch">here</a>.
            </p>
            <p>
              I write primarily about interesting product development and engineering challenges.
              The psychology of building a great product, the organizational challenges of scaling startups,
              the latest research in ML, and more.
            </p>
            <p>
              I tend to write in a build-in-public style, so some of my posts are more polished than others.
              I try to share my learnings as I go, writing what I wish I knew years ago.
            </p>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            About Me + Contact Info
          </h2>
          <article>
            <!-- <p>
              You can see my resume <a href="/resume.pdf">here (pdf)</a>.
            </p> -->
            <p>
              If you want to get in touch with me about something or just to say
              hi, reach out on social media or send me an email! I'm always open to
              meeting new people and interesting conversations.
            </p>
          </article>
          <ul class="not-prose flex flex-col gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex items-center gap-x-2">
                  <Icon name={SOCIAL.ICON} class="w-5 h-5" />
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                </li>
              ))
            }
            <li class="flex items-center gap-x-2">
              <Icon name="mdi:file-document" class="w-5 h-5" />
              <Link
                href="/resume.pdf"
                external
                aria-label="View resume"
              >
                Resume (PDF)
              </Link>
            </li>
            <li class="flex items-center gap-x-2">
              <Icon name="mdi:email" class="w-5 h-5" />
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>