---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, BLOG, PROJECTS } from "@consts";

const link_style =
  "underline-offset-4 decoration-sky-300 decoration-2 transition-all duration-300 ease-in-out hover:decoration-4";
---

<header transition:persist>
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" class={`text-xl ${link_style}`}>
        <div class="font-semibold">
          {SITE.TITLE}
        </div>
      </Link>
      <nav class="flex items-center gap-1 text-base">
        <Link href="/" class={link_style}>{HOME.TITLE}</Link>
        <span>•</span>
        <Link href="/blog" class={link_style}>{BLOG.TITLE}</Link>
        <span>•</span>
        <Link href="/projects" class={link_style}>{PROJECTS.TITLE}</Link>
        <span>•</span>
        <Link href="/#contact-info" class={link_style}>contact</Link>
      </nav>
    </div>
  </Container>
</header>
